.comments {
	margin-bottom: 10px;

	.card {
		margin: 0;
	}

	.card-header {
		padding: 0;

		.fa-caret-right {
	  	display: none;
		}
		.fa-caret-down {
			display: inline;
		}

		.collapsed  {
			.fa-caret-right {
		  	display: inline;
			}
			.fa-caret-down {
				display: none;
			}
		}
	}

	h3 {
		margin: 0;

		.btn {
		  font-size: $h3-font-size;
		}
	}

	.comment-form {
		textarea {
			width: 100%;
		}
	}

	.card-body-no-padding {
		padding: 0;
		padding-bottom: 10px;
	}

	.comment-card {
		background-color: $gray-300;
		margin-bottom: 10px;

		cite {
			margin-left: 10px;
		}

		.commentmetadata {
			float: right;
			text-align: right;
		}
	}
}
