.main-col {

	.card {
		background-color: $gray-200;
		border: none;
    border-radius: 0;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	.card-title {
		margin-bottom: 0;
	}

	.card-img-top {
		height: auto;
		border-radius: 0;
	}

	.card-text {
		margin-top: 10px;
		font-family: 'Lora', serif;
		
		img {
			max-width: 100%;
			height: auto;
		}
	}

	blockquote {
		font-size: $font-size-lg;
		margin: 20px 40px;
	}

}

.tooltip-inner {
	text-align: left;
}

