.sidebar {
	font-size: $font-size-sm;

	.card {
		background-color: $cyan;
		border: none;
    border-radius: 0;
		font-size: $font-size-sm;
		display: block;
		margin-top: 10px;
		margin-bottom: 10px;
	}

	img {
		float: left;
		margin-right: 15px;
	}

	ul {
		padding: 0;
	}

	li {
		list-style: none;
	}

	#mks_author_widget-3 .card-body::after {
		content: ' ';
		clear: both;
		display: block;
	}

	#searchform .form-control {
		border-color: theme-color('secondary');
	}
}
